matplotlib                   3.7.5
matplotlib-inline            0.1.6
numpy                        1.23.2
pandas                       1.4.3
regex                        2024.7.24
seaborn                      0.13.2
Python 3.11.9
